<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="auto">
  <uses-sdk android:minSdkVersion="31" android:targetSdkVersion="36" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="NET Thing Encryptor"
               android:icon="@mipmap/ic_launcher"
               android:roundIcon="@mipmap/ic_launcher_round"
               android:allowBackup="false"
               android:fullBackupContent="false"
               android:usesCleartextTraffic="false"
               android:supportsRtl="true" />
</manifest>
